@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*, *::before, *::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

// Colors
$color-primary: hsl(172, 67%, 45%);
$color-secondary: hsl(183, 100%, 15%);
$color-accent-dark-1: hsl(186, 14%, 43%);
$color-accent-dark-2: hsl(184, 14%, 56%);
$color-accent-light-1: hsl(185, 41%, 84%);
$color-accent-light-2: hsl(189, 41%, 97%);
$color-accent-light-3: hsl(0, 0%, 100%);

// Fonts
$font-primary: "Space-Mono";
$font-secondary: "Inter";

// Sizes
$xsmall: 16px;
$small: 48px;
$medium: 96px;
$large: 144px;
$xlarge: 192px;
$xxlarge: 288px;
$maxwidth: 1400px;

// Spacing
$half: 8px;
$space-1: 16px;
$space-1-5: 24px;
$space-2: 32px;
$space-2-5: 40px;
$space-3: 48px;
$space-3-5: 56px;
$space-4: 64px;
$space-4-5: 72px;
$space-5: 80px;
$space-5-5: 88px;
$space-6: 96px;

// Radius
$radius-2: 2px;
$radius-4: 4px;
$radius-8: 8px;
$radius-16: 16px;
$radius-24: 24px;
$radius-round: 50%;



// UI variables - Light Theme
$bg-light: $color-accent-light-1;
$bg-dark: $color-secondary;
$bg-input: $color-accent-light-2;
$bg-main: $color-accent-light-3;
$label-text-dark: $color-accent-dark-1;
$label-text-secondary: $color-accent-dark-2;
$label-text-light: $color-accent-light-3;

// UI variables - Dark Theme
// $bg-light: $color-accent-light-1;
// $bg-dark: $color-secondary;
// $bg-input: $color-accent-light-2;
// $bg-main: $color-accent-light-3;
// $label-text-dark: $color-accent-dark-1;
// $label-text-secondary: $color-accent-dark-2;
// $label-text-light: $color-accent-light-3;


@mixin flex-column-center {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

@mixin flex-row-center {
   display: flex;
   align-items: center;
   justify-content: center;
}

@mixin flex-align-center {
   display: flex;
   align-items: center;
}

.container {
   @include flex-column-center;
   background-color: $bg-light;
   min-height: 100vh;
   gap: $space-5-5;
}

.main {
   @include flex-row-center;
   gap: $space-2;
   width: min(100vw - 2rem, 1000px);
   min-height: 40vh;
   margin-inline: auto;
   background-color: $bg-main;
   border-radius: $radius-24;
}

